/SchoolConsoleApplication/.classpath
/SchoolConsoleApplication/.project
/SchoolConsoleApplication/.settings/
/SchoolConsoleApplication/target/
/SchoolConsoleApplication/dependency-reduced-pom.xml
/SchoolConsoleApplication/.idea/
